demos/04-orchestration-and-monitoring/logicapp/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Parse_email_body": {
        "type": "Compose",
        "inputs": "@triggerBody()?['body']",
        "runAfter": {}
      },
      "Call_triage_flow": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('TriageFlowEndpoint')",
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer @{parameters('TriageFlowKey')}"
          },
          "body": {
            "ticket_text": "@outputs('Parse_email_body')"
          }
        },
        "runAfter": {
          "Parse_email_body": [
            "Succeeded"
          ]
        }
      },
      "Parse_triage_result": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Call_triage_flow')",
          "schema": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string"
              },
              "priority": {
                "type": "string"
              }
            }
          }
        },
        "runAfter": {
          "Call_triage_flow": [
            "Succeeded"
          ]
        }
      },
      "Check_priority": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@body('Parse_triage_result')?['priority']",
                "High"
              ]
            }
          ]
        },
        "actions": {
          "Call_RAG_flow": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@parameters('RAGFlowEndpoint')",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Bearer @{parameters('RAGFlowKey')}"
              },
              "body": {
                "question": "@outputs('Parse_email_body')"
              }
            }
          },
          "Parse_RAG_answer": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Call_RAG_flow')",
              "schema": {
                "type": "object",
                "properties": {
                  "answer": {
                    "type": "string"
                  },
                  "citations": {
                    "type": "array"
                  }
                }
              }
            },
            "runAfter": {
              "Call_RAG_flow": [
                "Succeeded"
              ]
            }
          },
          "Create_ticket": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{parameters('FunctionAppUrl')}/CreateTicket",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "title": "@triggerBody()?['subject']",
                "description": "@outputs('Parse_email_body')",
                "customerId": "@triggerBody()?['from']"
              }
            },
            "runAfter": {
              "Parse_RAG_answer": [
                "Succeeded"
              ]
            }
          },
          "Parse_ticket": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Create_ticket')",
              "schema": {
                "type": "object",
                "properties": {
                  "ticketId": {
                    "type": "string"
                  }
                }
              }
            },
            "runAfter": {
              "Create_ticket": [
                "Succeeded"
              ]
            }
          },
          "Send_auto_reply": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/Mail",
              "body": {
                "To": "@triggerBody()?['from']",
                "Subject": "Re: @{triggerBody()?['subject']}",
                "Body": "<p>Thank you for contacting support.</p><p><strong>Ticket ID:</strong> @{body('Parse_ticket')?['ticketId']}</p><p><strong>Answer:</strong></p><p>@{body('Parse_RAG_answer')?['answer']}</p><p>We've created a ticket and will follow up if needed.</p>"
              }
            },
            "runAfter": {
              "Parse_ticket": [
                "Succeeded"
              ]
            }
          }
        },
        "else": {
          "actions": {
            "Forward_to_human": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "support-team@example.com",
                  "Subject": "FW: @{triggerBody()?['subject']} [Manual Review]",
                  "Body": "<p>Category: @{body('Parse_triage_result')?['category']}</p><p>Priority: @{body('Parse_triage_result')?['priority']}</p><hr><p>@{outputs('Parse_email_body')}</p>"
                }
              }
            }
          }
        },
        "runAfter": {
          "Parse_triage_result": [
            "Succeeded"
          ]
        }
      }
    },
    "triggers": {
      "When_email_arrives": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/Mail/OnNewEmail",
          "queries": {
            "folderPath": "Inbox",
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "includeAttachments": false,
            "subjectFilter": "[Support]"
          }
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 3
        }
      }
    },
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      },
      "TriageFlowEndpoint": {
        "type": "String",
        "defaultValue": "https://your-triage-flow.azureml.net/score"
      },
      "TriageFlowKey": {
        "type": "SecureString"
      },
      "RAGFlowEndpoint": {
        "type": "String",
        "defaultValue": "https://your-rag-flow.azureml.net/score"
      },
      "RAGFlowKey": {
        "type": "SecureString"
      },
      "FunctionAppUrl": {
        "type": "String",
        "defaultValue": "https://func-agents-suffix.azurewebsites.net/api"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  }
}